@charset "utf-8";
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: linear-gradient(to right, rgb(224, 45, 45), rgba(7, 125, 129, 0.644));
}
main{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    box-shadow: 5px 5px 10px #33d3d3;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    
}
h1{
    color: rgb(194, 28, 28);
    text-shadow: 4px 3px 2px  black;
    text-align: justify;
}
h2{
    color: yellow;
    text-align: left;
}
h3{
    color: slateblue;
    text-align: end;
}
p{
    color: blanchedalmond;
    background-color: violet;
    text-align: justify;
}